[submodule "search-backend/asupersync"]
	path = search-backend/asupersync
	url = https://github.com/Dicklesworthstone/asupersync.git
[submodule "search-backend/toon_rust"]
	path = search-backend/toon_rust
	url = https://github.com/Dicklesworthstone/toon_rust.git
[submodule "search-backend/frankentui"]
	path = search-backend/frankentui
	url = https://github.com/Dicklesworthstone/frankentui.git
[submodule "search-backend/frankensearch"]
	path = search-backend/frankensearch
	url = https://github.com/Dicklesworthstone/frankensearch.git
[submodule "search-backend/franken_agent_detection"]
	path = search-backend/franken_agent_detection
	url = https://github.com/Dicklesworthstone/franken_agent_detection.git
[submodule "search-backend/cass"]
	path = search-backend/cass
	url = https://github.com/Dicklesworthstone/coding_agent_session_search.git
[submodule "search-backend/frankensqlite"]
	path = search-backend/frankensqlite
	url = https://github.com/Dicklesworthstone/frankensqlite.git
