[submodule "search-backend/cass"]
	path = search-backend/cass
	url = git@github.com:liuyixin-louis/cass.git
[submodule "search-backend/asupersync"]
	path = search-backend/asupersync
	url = git@github.com:liuyixin-louis/asupersync.git
[submodule "search-backend/toon_rust"]
	path = search-backend/toon_rust
	url = git@github.com:liuyixin-louis/toon_rust.git
[submodule "search-backend/frankentui"]
	path = search-backend/frankentui
	url = git@github.com:liuyixin-louis/frankentui.git
[submodule "search-backend/frankensearch"]
	path = search-backend/frankensearch
	url = git@github.com:liuyixin-louis/frankensearch.git
[submodule "search-backend/franken_agent_detection"]
	path = search-backend/franken_agent_detection
	url = git@github.com:liuyixin-louis/franken_agent_detection.git
